.TaskContainers {
    position: absolute;
    width: 80%;
    height: 100%;
    transform: translate(-20%);
}

.Logout {
    position: absolute;
    top: 3%;
    right: 10%;
}

.TaskContainer h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
